body{
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #1a1a1a;
    min-height: 100vh;
}

main{
    min-height: calc(100vh - 242px - 56px);
}

.form-signup button{
    margin-top: 25px;
}

.form-signup ul{
    list-style: none;
}

.form-signup ul li{
    margin-top: 10px;
}

.page-footer.dark {
    background-color: #2b2f31;
    padding-top: 10px;
    text-align: center;
    display: block;

}

.page-footer h5 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: .5rem;
    line-height: 1.2;
    text-align: left;
}

.page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.page-footer.dark .footer-copyright {
    background-color: #222425;
    border-color: #222425;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 50px;
}

.page-footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

@media (min-width:576px) {
    .page-footer h5 {
        position: relative;
        text-align: left;
        padding-left: 0px;
    }

    .page-footer ul li {
        position: relative;
        text-align: left;
        padding-left: 0px;
    }
}

@media (min-width:768px) {
    .page-footer h5 {
        position: relative;
        text-align: left;
        padding-left: 0px;
    }

    .page-footer ul li {
        position: relative;
        text-align: left;
        padding-left: 0px;
    }
}

@media (min-width: 150px){
    .sidebar{
        width: 14rem!important;
    }
}

.sidebar {
    height: calc(100vh - 56px);
    max-width: 224px ;
    display: block !important;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.nav-link{
    color: #ffffff;
}





